django~=3.2
django-allauth==0.50.0
django-machina~=1.1
django-phonenumber-field[phonenumberslite]~=6.1
django-stdimage~=5.3
django-treebeard==4.5.1
django-treewidget==0.4.2
pillow==9.1.0
psycopg2-binary==2.9.3
