{% load i18n %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="text-transform: none;">
        <a href="{% url 'forum:index' %}" class="text-color-dark">
            <i class="fas fa-home">&nbsp;</i>Форумы
        </a>
    </li>
    {% if forum %}
    {% for ancestor in forum.get_ancestors %}
    <li class="breadcrumb-item">
      <a href="{% url 'forum:forum' ancestor.slug ancestor.id %}" class="text-color-dark" style="text-transform: none;">
        {{ ancestor.name }}
      </a>
    </li>
    {% endfor %}
    <li class="breadcrumb-item">
      <a href="{% url 'forum:forum' forum.slug forum.id %}" class="text-color-dark" style="text-transform: none;">
        {{ forum.name }}
      </a>
    </li>
    {% endif %}
    {% if topic %}
    <li class="breadcrumb-item">
      <a href="{% url 'forum_conversation:topic' forum.slug forum.id topic.slug topic.id %}" class="text-color-dark" style="text-transform: none;">
        {{ topic.subject }}
      </a>
    </li>
    {% endif %}
  </ol>
</nav>
