{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<div class="container py-4">

    <div class="row">
        <div class="col-lg-3">
            <aside class="sidebar">
                <div class="row">
                    <h5 class="font-weight-semi-bold text-center pt-3">Профиль пользователя</h5>
                    {% if profile.user.forum_profile.avatar %}
                    <div class="text-center">
                        <img class="img-thumbnail" src="{{ profile.user.forum_profile.avatar.url }}">
                    </div>
                    {% endif %}
                    <div class="text-center pt-3">
                        <p>{{ profile }}</p>
                    </div>
                    <div class="text-center">
                        <p>{{ profile.phone }}</p>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col">
                    {% block profile_items %}
                    {% endblock %}
                </div>
            </div>

            <hr class="solid my-5">

        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    async function unfavorite(clicked_item) {
        let clicked_id = clicked_item.match(/\d+/)[0];
        let protocol = document.location.protocol;
        var host = window.location.host;
        let link = document.getElementById(`id_lot_link_${ clicked_id }`).value;

        let request = new Request(
            protocol +'//' + host + link,
            {headers: {'X-CSRFToken': csrftoken}}
        );

        let response = await fetch(request, {
            method: 'POST',
        });
        window.location.reload();

    }
</script>
{% endblock %}
