{% extends "base.html" %}

{% block content %}

<div class="container py-4">

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 mb-5 mb-lg-0">

            <h2 class="font-weight-bold text-5 mb-0">Заполните профиль</h2>
            <form action="{% url 'profile_create' %}" method="post" class="needs-validation">

                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <label class="error">
                    {{ form.non_field_errors }}
                </label>

                <div class="row">
                    <div class="form-group col">
                        <label class="error">
                            {{ form.avatar.errors }}
                        </label>
                        <label class="form-label text-color-dark text-3" for="id_avatar">
                            Аватар
                        </label>
                        <input class="form-control form-control-lg text-4" type="file" name="avatar" accept="image/*" id="id_avatar">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col">
                        <label class="error">
                            {{ form.phone.errors }}
                        </label>
                        <label class="form-label text-color-dark text-3" for="id_phone">
                            Номер телефона
                        </label>
                        <input class="form-control form-control-lg text-4" type="tel" name="phone" maxlength="128" id="id_phone">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Loading...">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}