{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<div class="container py-4 d-flex justify-content-center">

    <div class="col-lg-10">
        <div class="row">
            <div class="col">
                {% block profile_items %}
                {% endblock %}
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    async function unfavorite(clicked_item) {
        let clicked_id = clicked_item.match(/\d+/)[0];
        let protocol = document.location.protocol;
        var host = window.location.host;
        let link = document.getElementById(`id_lot_link_${ clicked_id }`).value;

        let request = new Request(
            protocol +'//' + host + link,
            {headers: {'X-CSRFToken': csrftoken}}
        );

        let response = await fetch(request, {
            method: 'POST',
        });
        window.location.reload();

    }
</script>
{% endblock %}
