{% extends "lot_base.html" %}
{% load static %}

{% block market_content %}
{% csrf_token %}
    <div class="masonry-loader masonry-loader-showing">
        <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">

            {% for lot in lot_list %}
            <!--  Lot Card  -->
            <div class="col-sm-6 col-lg-4">
                <div class="product mb-0">
                    <div class="product-thumb-info border-0 mb-3">

                        <div class="addtocart-btn-wrapper">
                            {% if user.is_authenticated %}
                                {% if user.profile %}
                                    {% if lot in user.profile.lot.all %}
                                        <a href="javascript:;" class="text-decoration-none addtocart-btn" title="Избранное" onclick="favorite(this.id, 'unset')" id="id_lot_{{ lot.id }}">
                                            <i class="icons icon-heart"></i>
                                        </a>
                                    {% else %}
                                        <a href="javascript:;" class="text-decoration-none addtocart-btn" title="Избранное" onclick="favorite(this.id, 'set')" id="id_lot_{{ lot.id }}">
                                            <i class="icons icon-heart"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'profile_create' %}" class="text-decoration-none addtocart-btn" title="Избранное">
                                        <i class="icons icon-heart"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'account_login' %}" class="text-decoration-none addtocart-btn" title="Избранное">
                                    <i class="icons icon-heart"></i>
                                </a>
                            {% endif %}
                        </div>
                        <a href="{% url 'lot_detail' lot.id %}">
                            <div class="product-thumb-info-image">
                                {% if lot.gallery_set.all %}
                                    <img alt="{{ lot.title }}" class="img-fluid" src="{{ lot.gallery_set.all.0.image.square_thumbnail.url }}">
                                {% else %}
                                    <img alt="{{ lot.title }}" class="img-fluid" src="{% static 'img/no_image_medium.png' %}">
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="{% url 'category_detail' lot.category.id %}" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">{{ lot.category }}</a>
                            <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="{% url 'lot_detail' lot.id %}" class="text-color-dark text-color-hover-primary">{{ lot.title }}</a></h3>
                        </div>

                        {% if user.is_authenticated %}
                            {% if user.profile %}
                                {% if lot in user.profile.lot.all %}
                                    <i class="fa fa-heart" id="id_heart_{{ lot.id }}" style="color:#0088CC;"></i>
                                {% else %}
                                    <i class="far fa-heart" id="id_heart_{{ lot.id }}"></i>
                                {% endif %}
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}

                    
                    
                    </div>
                    <p class="price text-5 mb-3">
                        <span class="sale text-color-dark font-weight-semi-bold">{{ lot.currency.symbol }}{{ lot.price }}</span>
                    </p>
                </div>
            </div>
            <!--  Lot Card End  -->
            {% endfor %}

        </div>
        <div class="row mt-4">
            <div class="col">
                <ul class="pagination float-end">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if page_obj.previous_page_number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                {{ page_obj.previous_page_number }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="#">
                            {{ page_obj.number }}
                        </a>
                    </li>
                    {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                {{ page_obj.next_page_number }}
                            </a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
           
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    async function favorite(clicked_item, mode) {
        let clicked_id = clicked_item.match(/\d+/)[0];
        let heart = document.getElementById(`id_heart_${ clicked_id }`);
        let lot = document.getElementById(`id_lot_${ clicked_id }`);
        let request;

        if (mode=='set') {
            heart.className = 'fa fa-heart';
            heart.style = "color:#0088CC;";
            lot.onclick = function () { favorite(clicked_id, 'unset'); };

            request = new Request(
                `${clicked_id}/favorite/`,
                {headers: {'X-CSRFToken': csrftoken}}
            );
        } else {
            heart.className = 'far fa-heart';
            heart.style = "color:#777;";
            lot.onclick = function () { favorite(clicked_id, 'set'); };

            request = new Request(
                `${clicked_id}/unfavorite/`,
                {headers: {'X-CSRFToken': csrftoken}}
            );
        }

        let response = await fetch(request, {
            method: 'POST',
        });

    }
</script>
{% endblock %}
