{% extends 'base.html' %}

{% block content %}

<div class="container py-4">

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 mb-5 mb-lg-0">

            <h2 class="font-weight-bold text-5 mb-0">Создание объявления</h2>

            <form class="add_lot" action="" method="post">

                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <label class="error">
                    {{ form.non_field_errors }}
                </label>
                {% for field in form %}
                <label class="error">
                    {% if field.errors %}
                        {{ field.name }} {{ field.errors }}
                    {% endif %}
                </label>
                {% endfor %}

                <div class="row">
                    <div class="form-group col">
                        <label class="form-label text-color-dark text-3" for="id_title">Заголовок:</label>
                        <input class="form-control form-control-lg text-4" type="text" name="title" maxlength="150" required id="id_title">
                    </div>     
                </div>
            
                <div class="row">
                    <div class="form-group col">
                        <label class="form-label text-color-dark text-3" for="id_price">Цена:</label>
                        <input class="form-control form-control-lg text-4" type="number" name="price" step="any" required id="id_price">
                    </div>
                </div>
            
                <div class="row">
                    <div class="form-group col">
                        <label class="form-label text-color-dark text-3" for="id_currency">Валюта:</label>
                        <select class="form-control form-control-lg text-4" name="currency" required id="id_currency">
                            {% for value in form.currency %}
                                {{ value }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
                <div class="row">
                    <div class="form-group col">
                        <label class="form-label text-color-dark text-3" for="id_description">Описание:</label>
                        <textarea class="form-control form-control-lg text-4" name="description" cols="40" rows="6" required id="id_description"></textarea>
                    </div>
                </div>

                {% for field in extra_fields.description %}
                    <div class="row">
                        <div class="form-group col">
                            <label class="form-label text-color-dark text-3" for="id_extra_fields">{{ field.name }}:</label>
                            <input class="form-control form-control-lg text-4 extra-field" name="{{ field.name }}">
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="form-group col">
                        <label class="form-label text-color-dark text-3" for="id_video_url">Видео:</label>
                        <input class="form-control form-control-lg text-4" type="url" name="video_url" maxlength="200" id="id_video_url">
                    </div>
                </div>

                <input name="extra_fields" type="hidden" id="id_extra_fields">

                <div class="row">
                    <div class="form-group col">
                        <label class="form-label text-color-dark text-3" for="id_video_url">Введите символы с изображения</label>
                        {{ form.captcha }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Loading...">Добавить</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
<script>
    let extra_fields = document.getElementsByClassName('extra-field');
    let result = {}
    let result_input = document.getElementById('id_extra_fields');

    for (let field of extra_fields) {
        field.oninput = createResult;
    }

    function createResult(e) {
        result[e.target.name] = e.target.value;
        result_input.value = JSON.stringify(result);
    }
</script>
{% endblock %}