{% extends 'board_base.html' %}
{% load i18n %}
{% load mptt_tags %}
{% load forum_tags %}

{% block sub_title %}{% trans "Index" %}{% endblock sub_title %}

{% block content %}
<div class="row">
  <div class="forumlist-top-controls col-12">
    {% if request.user.is_authenticated %}
    <div class="d-flex justify-content-between">
        <a href="{% url 'forum_tracking:unread_topics' %}" class="d-inline-block">{% trans "View unread topics" %}</a>
        <a href="{% url 'forum_tracking:mark_all_forums_read' %}" class="d-inline-block"><i class="fas fa-check-circle">&nbsp;</i>{% trans "Mark forums read" %}</a>
    </div>
    {% endif %}
  </div>
</div>
{% forum_list forums %}
<div class="row">
  <div class="forum-page-statistics col-12">
    <h5 class="pt-3 mb-0">{% trans "Statistics" %}</h5>
    <p class="statistics pt-0 mb-0">{% trans "Total posts:" %}&nbsp;<b>{{ total_posts_count }}</b>&nbsp;&#8226;&nbsp;{% trans "Total topics:" %}&nbsp;<b>{{ total_topics_count }}</b>&nbsp;</p>
  </div>
</div>
{% endblock content %}
